@font-face {
  font-family: EldenRingFont;
  src: url("/Users/spencercrimm/Downloads/Mantinia Regular/Mantinia Regular.otf");
}

.theparent {
  margin: auto
}

.titlecard {
  text-align: left;
  font-family: EldenRingFont;
  color: goldenrod;
}

.chooser {
  font-family: EldenRingFont;
  color: goldenrod;
}

.theportrait {
  margin: 0;
  padding: 0;
  display: block;
}

.outer {
  height: 300px;
  width: 300px;
}

@media (max-width: 926px) {
  .outer {
    height: 50px;
    width: 50px;
  }

  .theportrait {
    margin: 0;
    padding: 0;
    transform: scale(0.3);
    display: block;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(165, 190, 19, 0.2);
    border-radius: 5px;
    border-color: black;
    height: 50px;
    width: 50px;
    font-family: EldenRingFont;
  }


}

.warning {
  font-family: EldenRingFont;
  color: goldenrod;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(165, 190, 19, 0.2);
  border-radius: 5px;
  border-color: black;
  height: 300px;
  width: 300px;
  font-family: EldenRingFont;
}

img {
  border-radius: 5px 5px 0 0;
  height: 100%;
  width: 100%;
}

.container {
  padding: 2px 16px;
  background-color: gold;
  display: inline-block;
  height: 100%;
}

.winner {
  font-family: EldenRingFont;
  color: rgb(245, 189, 6);
  top: 64%;
  left: 50%;
  position: fixed;
  text-align: center;
}
